@model Meditrack.Models.Usuario

@{
    ViewData["Title"] = "Edit";
    Layout = null;
}

<h1>Edit</h1>

<h4>Usuario</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdUsuario" />
            <div class="form-group">
                <label asp-for="NombreUsuario" class="control-label"></label>
                <input asp-for="NombreUsuario" class="form-control" />
                <span asp-validation-for="NombreUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contrasena" class="control-label"></label>
                <input asp-for="Contrasena" class="form-control" />
                <span asp-validation-for="Contrasena" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NombreCompleto" class="control-label"></label>
                <input asp-for="NombreCompleto" class="form-control" />
                <span asp-validation-for="NombreCompleto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RolId" class="control-label"></label>
                <select asp-for="RolId" class="form-control" asp-items="ViewBag.RolId"></select>
                <span asp-validation-for="RolId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FechaDeRegistro" class="control-label"></label>
                <input asp-for="FechaDeRegistro" class="form-control" />
                <span asp-validation-for="FechaDeRegistro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="IdEstadoUsuario" class="control-label"></label>
                <select asp-for="IdEstadoUsuario" class="form-control" asp-items="ViewBag.IdEstadoUsuario"></select>
                <span asp-validation-for="IdEstadoUsuario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

