<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meditrack - Quirofano</title>


    <link href="~/css/style.css" rel="stylesheet" media="all" />

    <!--
      - favicon
    -->
    <link rel="shortcut icon" href="./favicon.svg" type="image/svg+xml">

    <!--
      - custom css link
    -->
    <link rel="stylesheet" href="styles.css">

    <!--
      - google font link
    -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700;800&family=Roboto:wght@400;500;600&display=swap"
          rel="stylesheet">
</head>

<body id="top">

    <!--
      - #HEADER
    -->

    <header class="header">

        <div class="header-top">
            <div class="container">

                <ul class="contact-list">

                    <li class="contact-item">
                        <ion-icon name="mail-outline"></ion-icon>

                        <a href="mailto:info@example.com" class="contact-link">contratar@Meditrack.com</a>
                    </li>

                    <li class="contact-item">
                        <ion-icon name="call-outline"></ion-icon>

                        <a href="tel:+917052101786" class="contact-link">+1 809 596 1364</a>
                    </li>

                </ul>

                <ul class="social-list">

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-facebook"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-instagram"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-twitter"></ion-icon>
                        </a>
                    </li>

                    <li>
                        <a href="#" class="social-link">
                            <ion-icon name="logo-youtube"></ion-icon>
                        </a>
                    </li>

                </ul>

            </div>
        </div>

        <div class="header-bottom" data-header>
            <div class="container">

                <a href="#" class="logo">MediTrack Quirofano</a>


                <nav class="navbar container" data-navbar>
                    <ul class="navbar-list">

                        <li>
                            <a href="#home" class="navbar-link" data-nav-link>Home</a>
                        </li>

                        <li>
                            <a href="#service" class="navbar-link" data-nav-link>Servicios</a>
                        </li>

                        <li>
                            <a href="#about" class="navbar-link" data-nav-link>Acerca</a>
                        </li>

                        <li>
                            <a href="#Collaborators" class="navbar-link" data-nav-link>Colab.</a>
                        </li>

                        <li>
                            <a href="#Contact" class="navbar-link" data-nav-link>Contacto</a>
                        </li>

                    </ul>
                </nav>

                <a href="./Inicio/IniciarSesion" class="btn">Sign In</a>

                <button class="nav-toggle-btn" aria-label="Toggle menu" data-nav-toggler>
                    <ion-icon name="menu-sharp" aria-hidden="true" class="menu-icon"></ion-icon>
                    <ion-icon name="close-sharp" aria-hidden="true" class="close-icon"></ion-icon>
                </button>

            </div>
        </div>

    </header>





    <main>
        <article>

            <!--
              - #HERO
            -->

            <section class="section hero" id="home" style="background-image: url('')" aria-label="hero">
                <div class="container">

                    <div class="hero-content">

                        <p class="section-subtitle">Bienvenidos a MediTrack</p>

                        <h1 class="h1 hero-title">Control presiso, Resultados seguros</h1>

                        <p class="hero-text">
                            Plataforma innovadora diseñada para optimizar y gestionar todos los aspectos relacionados con
                            administración de quirófano y gestión de inventario médico.
                            Nuestra solución integral abarca desde la programación de cirugías y la asignación de recursos hasta
                            Monitorización postoperatoria del paciente, garantizando eficiencia y precisión en cada etapa del proceso quirúrgico.
                            proceso.
                            @*               Innovative platform designed to optimize and manage all aspects related to
                            operating room administration and medical inventory management.
                            Our comprehensive solution ranges from surgery scheduling and resource allocation to
                            postoperative patient monitoring, guaranteeing efficiency and precision at every stage of the surgical
                            process. *@
                        </p>

                    </div>

                    <figure class="hero-banner">
                        <img src="./Images/MediTracklogo.png" width="587" height="839" alt="hero banner" class="w-100">
                    </figure>

                </div>
            </section>





            <!--
              - #SERVICE
            -->

            <section class="section service" id="service" aria-label="service">
                <div class="container">

                    <p class="section-subtitle text-center">Nuestros Servicios</p>

                    <h2 class="h2 section-title text-center">Lo que Ofrecemos</h2>

                    <ul class="service-list">

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <img src="./Images/inventarioicon.png" width="100" height="100" loading="lazy" alt="service icon"
                                         class="w-100">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">Gestión del Inventario</h3>

                                    <p class="card-text">
                                        MediTrack permite el registro detallado de medicamentos y materiales quirúrgicos,
                                        incluyendo control de lotes, fechas de vencimiento y cantidades disponibles.
                                        @*                     MediTrack allows detailed recording of drugs and surgical materials,
                                        including batch control, expiration dates and available quantities. *@
                                    </p>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <img src="./Images/cirugiaicon.png" width="100" height="100" loading="lazy" alt="service icon"
                                         class="w-100">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">Programación de Intervenciones Quirúrgicas</h3>

                                    <p class="card-text">
                                        Herramientas avanzadas para asignar quirófanos, personal médico y recursos necesarios para cada procedimiento.
                                        asegurando que todo esté listo y disponible cuando sea necesario.
                                        @*                     Advanced tools to assign operating rooms, medical staff and resources needed for each procedure,
                                        ensuring everything is ready and available when needed. *@
                                    </p>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <img src="./Images/postoperatorioicon.png" width="100" height="100" loading="lazy" alt="service icon"
                                         class="w-100">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">Seguimiento Postoperatorio</h3>

                                    <p class="card-text">

                                        Facilita el registro y seguimiento de la recuperación del paciente,
                                        documentar complicaciones y mejoras significativas, y generar informes detallados para
                                        hacer un seguimiento.
                                        @*                     It facilitates the recording and monitoring of patient recovery,
                                        documenting complications and significant improvements, and generating detailed reports for
                                        follow-up. *@
                                    </p>
                                </div>

                            </div>
                        </li>

                        <li class="service-banner">
                            <figure>
                                <img src="./Images/logo1.png" width="409" height="467" loading="lazy" alt="service banner" class="w-100">
                            </figure>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <img src="./Images/alertaicon.png" width="100" height="100" loading="lazy" alt="service icon"
                                         class="w-100">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">Alertas y Notificaciones</h3>

                                    <p class="card-text">

                                        Sistema de alertas para reordenar medicamentos, notificaciones sobre medicamentos a punto de caducar,
                                        y recordatorios para auditorías periódicas de inventario.
                                        @*                     Alert system to reorder medications, notifications about drugs about to expire,
                                        and reminders for periodic inventory audits. *@
                                    </p>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <img src="./Images/resportesicon.png" width="100" height="100" loading="lazy" alt="service icon"
                                         class="w-100">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">Reportes</h3>

                                    <p class="card-text">

                                        Generación y exportación de informes en diversos formatos para facilitar el análisis y distribución de
                                        información.
                                        @*                     Generation and export of reports in various formats to facilitate the analysis and distribution of
                                        information. *@
                                    </p>
                                </div>

                            </div>
                        </li>

                        <li>
                            <div class="service-card">

                                <div class="card-icon">
                                    <img src="./Images/eficienciaicon.png" width="100" height="100" loading="lazy" alt="service icon"
                                         class="w-100">
                                </div>

                                <div>
                                    <h3 class="h3 card-title">Eficiencia Operativa</h3>

                                    <p class="card-text">
                                        Automatice procesos críticos, reduzca el uso de papel y minimice los errores humanos.
                                        @* Automate critical processes, reduce paper use and minimize human errors. *@
                                    </p>
                                </div>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>





            <!--
              - #ABOUT
            -->

            <section class="section about" id="about" aria-label="about">
                <div class="container">

                    <figure class="about-banner">
                        <img src="./Images/hospitallogo.jpg" width="470" height="538" loading="lazy" alt="about banner"
                             class="w-100">
                    </figure>

                    <div class="about-content">

                        <p class="section-subtitle">Acerca</p>

                        <h2 class="h2 section-title">Hospital Regional Dr. Antonio Musa</h2>

                        <p class="section-text section-text-1">
                            El Hospital Regional Dr. Antonio Musa está ubicado en San Pedro de Macorís, República Dominicana
                            Es un hospital de Tercer Nivel para una extensa Región de Salud (V Región).
                            Presta servicios desde 1999,
                            continuando lo que anteriormente era el Hospital Dr. Carl. TH. George, convirtiéndose en el referente de la Regional Este
                            centro.
                            @* The Dr. Antonio Musa Regional Hospital is located in San Pedro de Macorís, Dominican Republic
                            is a Third Level hospital for an extensive Health Region (Region V).
                            It has been providing services since 1999,
                            continuing what was previously the Dr. Carl Hospital. TH. George, becoming the Eastern Regional reference
                            center. *@
                        </p>

                        <p class="section-text">
                            El hospital ofrece dentro de su portafolio de servicios las siguientes especialidades requeridas para un terciario
                            hospital,
                            destacando los servicios de consulta, hospitalización y urgencias las 24 horas del día,
                            teniendo las 4 áreas básicas de salud y las diferentes subespecialidades y especialidades.
                            @*               AThe hospital offers within its portfolio of services the following specialties required for a tertiary
                            hospital,
                            highlighting consultation, inpatient and emergency services 24 hours a day,
                            having the 4 basic health areas and the different subspecialties and specialties. *@
                        </p>

                        <a href="#" class="btn">Leer más</a>

                    </div>

                </div>
            </section>





            <!--
              - #INFORMACIONERS
            -->

            <section class="section doctor" id="Collaborators" aria-label="doctor">
                <div class="container">

                    <p class="section-subtitle text-center">Nuestros Colaboradores</p>

                    <h2 class="h2 section-title text-center">Los Mejores Médicos Expertos</h2>

                    <ul class="has-scrollbar">

                        <li class="scrollbar-item">
                            <div class="doctor-card">

                                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                                    <img src="./Images/DocRickart.png" width="460" height="500" loading="lazy" alt="Dr. Rickart Peguero"
                                         class="img-cover">
                                </div>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Dr. Rickart Peguero</a>
                                </h3>

                                <p class="card-subtitle">Cirujano General Laparoscópico Avanzado</p>

                                <ul class="card-social-list">

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-facebook"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-twitter"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-instagram"></ion-icon>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="doctor-card">

                                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                                    <img src="./assets/images/doctor-2.png" width="460" height="500" loading="lazy" alt="Dra. Ernestina Concepción"
                                         class="img-cover">
                                </div>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Dra. Ernestina Concepción</a>
                                </h3>

                                <p class="card-subtitle">Doctora General</p>

                                <ul class="card-social-list">

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-facebook"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-twitter"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-instagram"></ion-icon>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="doctor-card">

                                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                                    <img src="./assets/images/doctor-3.png" width="460" height="500" loading="lazy" alt="Dra. Daylin Rambalde Moreta"
                                         class="img-cover">
                                </div>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Dra. Daylin Rambalde Moreta</a>
                                </h3>

                                <p class="card-subtitle">Doctora Familiar</p>

                                <ul class="card-social-list">

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-facebook"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-twitter"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-instagram"></ion-icon>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </li>

                        <li class="scrollbar-item">
                            <div class="doctor-card">

                                <div class="card-banner img-holder" style="--width: 460; --height: 500;">
                                    <img src="./assets/images/doctor-4.png" width="460" height="500" loading="lazy" alt="#"
                                         class="img-cover">
                                </div>

                                <h3 class="h3">
                                    <a href="#" class="card-title">Prueba</a>
                                </h3>

                                <p class="card-subtitle">Prueba</p>

                                <ul class="card-social-list">

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-facebook"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-twitter"></ion-icon>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="#" class="card-social-link">
                                            <ion-icon name="logo-instagram"></ion-icon>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </li>

                    </ul>

                </div>
            </section>





            <!--
              - #CTA
            -->

            <section class="section cta" aria-label="cta">
                <div class="container">

                    <figure class="cta-banner">
                        <img src="/Images/logo2.png" width="1056" height="1076" loading="lazy" alt="cta banner" class="w-100">
                    </figure>

                    <div class="cta-content">

                        <p class="section-subtitle">el mejor sistema para la gestion de procedimientos quirúrgicos</p>

                        <h2 class="h2 section-title">Entra en Meditrack Quirofano y vive la experiencia</h2>

                        <a href="./Inicio/IniciarSesion" class="btn">Sign In</a>

                    </div>

                </div>
            </section>


            <main>
                <section class="section blog" aria-label="blog">
                    <div class="container">
                </section>
            </main>


            <!--
              - #FOOTER
            -->

            <footer class="footer" id="Contact">

                <div class="footer-top section">
                    <div class="container">

                        <div class="footer-brand">

                            <a href="#" class="logo">MediTrack Quirofano</a>

                            <p class="footer-text">
                                En MediTrack nuestra prioridad es mantener nuestros sistemas siempre en línea, ofreciendo un servicio continuo y confiable.
                                servicio.
                                Estamos comprometidos a minimizar errores y maximizar la eficiencia a través de un control de calidad continuo y
                                pruebas.
                                Con un equipo dedicado de expertos,
                                Trabajamos incansablemente para garantizar que MediTrack funcione sin problemas, brindándole tranquilidad y soporte en todo momento.
                                @*                 At MediTrack, our priority is to keep our systems always online, offering a continuous and reliable
                                service.
                                We are committed to minimizing errors and maximizing efficiency through continuous quality control and
                                testing.
                                With a dedicated team of experts,
                                we work tirelessly to ensure MediTrack runs smoothly, giving you peace of mind and support at all times. *@
                            </p>

                        </div>

                        <ul class="footer-list">

                            <li>
                                <p class="footer-list-title">Other Links</p>
                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Home</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Sobre</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Servicios</span>
                                </a>
                            </li>



                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Nuestros Colaboradores</span>
                                </a>
                            </li>


                        </ul>

                        <ul class="footer-list">

                            <li>
                                <p class="footer-list-title">Nuestros Servicios</p>
                            </li>

                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Reserva de Recursos Médicos</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Control de entrada y salida</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Control precisol</span>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="footer-link">
                                    <ion-icon name="add-outline"></ion-icon>

                                    <span class="span">Resultados Seguros</span>
                                </a>
                            </li>

                        </ul>

                        <ul class="footer-list">

                            <li>
                                <p class="footer-list-title">Contact Us</p>
                            </li>

                            <li class="footer-item">
                                <div class="item-icon">
                                    <ion-icon name="location-outline"></ion-icon>
                                </div>

                                <address class="item-text">
                                    Calle 2, San Pedro de Macorís 21000<br>
                                </address>
                            </li>

                            <li class="footer-item">
                                <div class="item-icon">
                                    <ion-icon name="call-outline"></ion-icon>
                                </div>

                                <a href="tel:+1 809 596 1364" class="footer-link">+1 809 596 1364</a>
                            </li>

                            <li class="footer-item">
                                <div class="item-icon">
                                    <ion-icon name="mail-outline"></ion-icon>
                                </div>

                                <a href="mailto:help@example.com" class="footer-link">contratar@Meditrack.com</a>
                            </li>

                        </ul>

                    </div>
                </div>

                <div class="footer-bottom">
                    <div class="container">

                        <p class="copyright">
                            &copy; 2024 All Rights Reserved by MediTrackCreators.
                        </p>

                        <ul class="social-list">

                            <li>
                                <a href="#" class="social-link">
                                    <ion-icon name="logo-facebook"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="social-link">
                                    <ion-icon name="logo-instagram"></ion-icon>
                                </a>
                            </li>

                            <li>
                                <a href="#" class="social-link">
                                    <ion-icon name="logo-twitter"></ion-icon>
                                </a>
                            </li>

                        </ul>

                    </div>
                </div>

            </footer>





            <!--
              - #BACK TO TOP
            -->

            <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
                <ion-icon name="caret-up" aria-hidden="true"></ion-icon>
            </a>





            <!--
              - custom js link
            -->
            <script src="/js/site.js" type="text/javascript"></script>

            <!--
              - ionicon link
            -->
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

<div class="container">
    @RenderBody()
    @* <main role="main" class="pb-3">
        
    </main> *@
</div>

</html>